<h4>Total Spatial Records</h4>

OpenPlaces imports <a href='http://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-countries/'>Countries</a>, <a href='http://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-1-states-provinces/'>States/Provinces</a>, <a href='http://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-populated-places/'>Cities</a>, <a href='http://www.naturalearthdata.com/downloads/10m-cultural-vectors/parks-and-protected-lands/'> US National Parks, <a href='http://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-rivers-lake-centerlines/'>Rivers</a> and  <a href='http://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-lakes/'>Lakes</a> from <a href='http://www.naturalearthdata.com/'>NaturalEarth</a> and <a href="http://geonames.org">Geonames.org</a.

<h4>Database includes:</h4>
<ul>
	<li>255 Countries</li>
	<li>4600 States/Provinces</li>
	<li>47910 Places (Metros/Cities/Towns)</li>
	<li>61 US National Parks</li>
	<li>743 Lakes</li>
	<li>1454 Rivers</li>
</ul>