<!DOCTYPE html>
<html>
<head>
  <title>OpenPlaces</title>
  <%= stylesheet_link_tag    "open_places/application", media: "all" %>
  <%= javascript_include_tag "open_places/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>